<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freewill.cms.mapper.DriverApplicationMapper">
    <resultMap id="BaseResultMap" type="com.freewill.cms.domain.DriverApplication">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="count_num" property="countNum" jdbcType="INTEGER"/>
        <result column="referrer_phone" property="referrerPhone" jdbcType="VARCHAR"/>
        <result column="referrer_name" property="referrerName" jdbcType="VARCHAR"/>
        <result column="referrer_id" property="referrerId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="poster_url" property="posterUrl" jdbcType="VARCHAR"/>
        <result column="ext_col1" property="extCol1" jdbcType="VARCHAR"/>
        <result column="ext_col2" property="extCol2" jdbcType="VARCHAR"/>
        <result column="ext_col3" property="extCol3" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, pid, uuid, name, phone, type, status, url, poster_url, ext_col1, ext_col2, ext_col3,
        remark, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from driver_application
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from driver_application
        where phone = #{phone,jdbcType=VARCHAR}
    </select>

    <select id="selectByUUID" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from driver_application
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>


    <select id="selectAllDriver" resultMap="BaseResultMap" parameterType="com.freewill.cms.driver.form.DriverListForm">
        select
        s.*,
        t.name referrer_name,
        t.id referrer_id,
        t.phone referrer_phone
        from driver_application s
        left join driver_application t on t.id=s.pid
        <where>s.type = 0
            <if test="form.name != null">
                and s.name = #{form.name,jdbcType=VARCHAR}
            </if>
            <if test="form.status != null">
                and s.status = #{form.status,jdbcType=INTEGER}
            </if>
            <if test="form.phone != null">
                and s.phone = #{form.phone,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectAll"  resultType="com.freewill.cms.domain.DriverApplication">
        select
        <include refid="Base_Column_List"/>
        ,(SELECT COUNT(*) FROM driver_application t WHERE t.pid = s.id and t.type=0 )count_num
        from driver_application s
        <where>
            <if test="form.name != null">
                and s.name = #{form.name,jdbcType=VARCHAR}
            </if>
            <if test="form.status != null">
                and s.status = #{form.status,jdbcType=INTEGER}
            </if>
            <if test="form.type != null">
                and s.type = #{form.type,jdbcType=INTEGER}
            </if>
            <if test="form.phone != null">
                and s.phone = #{form.phone,jdbcType=VARCHAR}
            </if>
        </where>

    </select>


    <select id="selectChildByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from driver_application
        where pid = #{id,jdbcType=INTEGER}
        and type=0
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM driver_application
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.freewill.cms.domain.DriverApplication" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO driver_application (id, pid, uuid,
                                        name, phone, type,
                                        status, url, poster_url,
                                        ext_col1, ext_col2, ext_col3,
                                        remark, create_time, update_time
        )
        VALUES (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR},
                                        #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
                                        #{status,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
                                        #{posterUrl,jdbcType=VARCHAR},
                                        #{extCol1,jdbcType=VARCHAR}, #{extCol2,jdbcType=VARCHAR},
                #{extCol3,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.freewill.cms.domain.DriverApplication" useGeneratedKeys="true"
            keyProperty="id">
        insert into driver_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="posterUrl != null">
                poster_url,
            </if>
            <if test="extCol1 != null">
                ext_col1,
            </if>
            <if test="extCol2 != null">
                ext_col2,
            </if>
            <if test="extCol3 != null">
                ext_col3,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="posterUrl != null">
                #{posterUrl,jdbcType=VARCHAR},
            </if>
            <if test="extCol1 != null">
                #{extCol1,jdbcType=VARCHAR},
            </if>
            <if test="extCol2 != null">
                #{extCol2,jdbcType=VARCHAR},
            </if>
            <if test="extCol3 != null">
                #{extCol3,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.freewill.cms.domain.DriverApplication">
        update driver_application
        <set>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="posterUrl != null">
                poster_url = #{posterUrl,jdbcType=VARCHAR},
            </if>
            <if test="extCol1 != null">
                ext_col1 = #{extCol1,jdbcType=VARCHAR},
            </if>
            <if test="extCol2 != null">
                ext_col2 = #{extCol2,jdbcType=VARCHAR},
            </if>
            <if test="extCol3 != null">
                ext_col3 = #{extCol3,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="changeDriverByPhone">
        UPDATE driver_application
        SET
            name        = #{name,jdbcType=VARCHAR},
            pid         = #{pid,jdbcType=INTEGER},
            type        = 0,
            update_time = sysdate()
        WHERE phone = #{phone,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.freewill.cms.domain.DriverApplication">
        UPDATE driver_application
        SET pid         = #{pid,jdbcType=INTEGER},
            uuid        = #{uuid,jdbcType=VARCHAR},
            name        = #{name,jdbcType=VARCHAR},
            phone       = #{phone,jdbcType=VARCHAR},
            type        = #{type,jdbcType=INTEGER},
            status      = #{status,jdbcType=INTEGER},
            url         = #{url,jdbcType=VARCHAR},
            poster_url  = #{posterUrl,jdbcType=VARCHAR},
            ext_col1    = #{extCol1,jdbcType=VARCHAR},
            ext_col2    = #{extCol2,jdbcType=VARCHAR},
            ext_col3    = #{extCol3,jdbcType=VARCHAR},
            remark      = #{remark,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateStatusByPrimaryKey">
        UPDATE driver_application
        SET
            status      = #{status,jdbcType=INTEGER},
            update_time = sysdate()
        WHERE id IN (${ids})
    </update>
</mapper>